@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary: blue; 
  --error: red;
}

body {
  background-size: cover;
  margin: 0;
  font-family: 'Raleway',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.FormulaDisplayBlock {
  background-color: aquamarine;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.FormulaDisplayBlock h4 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: var(--primary);
}

.span-buttons{
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 5px;
  color: #333;
}


.bottomBar {
  margin-top: 20px;
}


.FormulasList {
  max-height: 200px;
  max-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.links{
    color: white;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.links li{
  margin: 0px 10px;
}

.links a{
  text-decoration:none;
}

.bottom-links a{
  margin: 0 10px;
  text-decoration:none;
}
#only-on-print{
  display: none;
}

/* Controls what is printed */
@media print {
  /* Gets rid of borders */
  body * {
    border: none !important;
    box-shadow: none !important;
  }
  /* Gets rid of blocks entirely */
  #no-print {
    display: none;
  }
  span{
    display:none
  }
  /* .react-resizeable-handle{
    display:none;
  } */
  #only-on-print{
    display: block;
  }
  #only-on-print img{
    display: block;
    position: fixed;
    top: 50%; 
    left: 50%; 
    width: 800px; 
    opacity: 0.3; 
    z-index: 9999;
    transform: translate(-50%, -50%) rotate(-45deg); 
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10pt;
  }

  .header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 10pt;
  }
}

.logo{
  text-decoration:none;
}

.bannerAd{
  width: 100%;
  outline: solid;
  outline-color: #333;
  outline-width: 2px;
  border-radius: 25px;
}