@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary: blue; 
  --error: red;
}

body {
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/34/Spirale_Ulam_150.jpg);
  background-size: cover;
  margin: 0;
  font-family: 'Raleway',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.FormulaDisplayBlock {
  background-color: aquamarine;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.FormulaDisplayBlock h4 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: var(--primary);
}

.span-buttons{
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 5px;
  color: #333;
}


.mathjax {
  margin-top: 20px;
}


.FormulasList {
  max-height: 200px;
  max-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.links{
    color: white;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.links li{
  margin: 0px 10px;
}

.links a{
  text-decoration:none;
}
#only-on-print{
  display: none;
}

/* Controls what is printed */
@media print {
  /* Gets rid of borders */
  body * {
    border: none !important;
    box-shadow: none !important;
  }
  /* Gets rid of blocks entirely */
  #no-print {
    display: none;
  }
  span{
    display:none
  }
  /* .react-resizeable-handle{
    display:none;
  } */
  #only-on-print{
    display: block;
  }
}